<div class="flex text-4xl font-bold text-blue-600 justify-center mt-10">
    <%= title %>
</div>
<h1>
    <div class="flex flex-col">
        <div>
            <% if(contestlist.length!=0){%>
            <div class="my-5 mx-20 text-blue-500 font-normal text-3xl">
                Upcomming Contests
            </div>
            <div class="flex flex-row mx-5 text-2xl mb-10">
                <span class="basis-1/5 md:basis-1/3 "> Name of contest </span>
                <span class="basis-1/5 md:basis-1/3"> Type of contest </span>
                <span class="basis-1/5 md:basis-1/3"> Start Time </span>
                <span class="basis-1/5 md:basis-1/3"> Duration Time</span>
                <span class="basis-1/5 md:basis-1/3"> Site </span>
                  
            </div>
        </div>
        <% for(var contest of contestlist){%>
            <div class="flex flex-row mx-5 bg-white border-rose-600 border-dotted">
                <span class="basis-1/5 md:basis-1/3"> <%= contest.name %></span>
                <span class="basis-1/5 md:basis-1/3"> <%= contest.site %></span>
                <span class="basis-1/5 md:basis-1/3"> <%= contest.start_time %></span>
                <span class="basis-1/5 md:basis-1/3 duration"> <%= contest.duration %></span>
                <!-- <span class="basis-1/5 md:basis-1/3"> <a href="<%= contest.url %>" ><i class="fa fa-external-link-square"></i></a></span> -->
                <span class="basis-1/5 md:basis-1/3"> <a href="<%= contest.url %>" >link-></a></span>
            </div>
            <%}%>
        <%}else{%>
            <div class="flex flex-row mx-5 bg-white my-10 p-5 ">
                <span class="center"> No Contest Available </span>
            </div>
        <%}%>
        </div>
    </h1>

<script src="/js/home.js"></script>